:root {
    --bg-body: #134E8E;
    --bg-container: #C00707;
    --bg-button: #FFB33F;
    --bg-card: #FF4400;
    --text-button: white;
    --text-card: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-body);
}

.title {
    padding-top: 20px;
    font-size: 4rem;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: var(--text-card);
}

.container {
    width: 90%;
    margin: 0 auto;
    background-color: var(--bg-container);
    padding: 30px;
    margin: 10px 0;
    border-radius: 1px;
}

.movie-poster {
    width: 500px;
    margin-left: 15px;
    height: auto;
}

.default-result {
    font-weight: bold;
    color: var(--text-card);
    text-align: center;
}

.head-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rating {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-card);
}

.movie-details {
    font-size: 1.4rem;
    color: var(--text-card);
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: var(--bg-body);
}

@media (max-width: 1240px) {
    .container {
        width: 80%;
    }

    .title {
        font-size: 2rem;
    }

    .container {
        padding: 20px;
    }
}

@media (max-width: 860px) {
    .container {
        width: 90%;
    }

    .head-information {
        flex-direction: column;
        gap: 10px;
    }

    .movie-poster {
        max-width: 90%;
        height: auto;
    }
}